// app global css in SCSS form

html,
body {
  overscroll-behavior-y: none;
  overflow-y: scroll; /* always reserve scrollbar space */
  overflow-x: hidden; /* no horizontal scroll */
}

/* Hide scrollbars visually but keep scroll functionality */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* old Edge/IE */
}

:root {
  --app-deep-blue: #0f1a2b;
  --app-dusty-blue: #52677d;
  --app-buttercream: #d1cfc9;
  --app-ivory-blue: #bdc4d4;
  --app-alice-blue: #dfe6ec;
  --app-harper-blue: #9db3c0;
  --app-blue-door: #56697c;
  --app-teal-navy: #2a364b;
  --app-light-taupe: #e7e7e7;
  --app-lighter-taupe: #fafafa;

  --app-light-steel-1: #f8f9fa;
  --app-light-steel-2: #e9ecef;
  --app-light-steel-3: #dee2e6;
  --app-light-steel-4: #ced4da;
  --app-light-steel-5: #adb5bd;
  --app-light-steel-6: #6c757d;
  --app-light-steel-7: #495057;
  --app-light-steel-8: #343a40;
  --app-light-steel-9: #212529;

  // Spacing scale
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;

  --app-max-width: 580px;
}

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
.capras {
  font-family: 'Caprasimo', Georgia, serif;
}
.app-max-width {
  max-width: var(--app-max-width);
}

.page-heading {
  padding-top: var(--space-lg);
}
