// app global css in SCSS form

html, body {
    overscroll-behavior-y: none;
}



:root {
 --app-deep-blue: #0F1A2B;
  --app-dusty-blue: #52677D;
  --app-buttercream: #D1CFC9;
  --app-ivory-blue: #BDC4D4;
  --app-alice-blue: #DFE6EC;
  --app-harper-blue: #9DB3C0;
  --app-blue-door: #56697C;
  --app-teal-navy: #2A364B;
  --app-light-taupe: #e7e7e7;
  --app-lighter-taupe: #fafafa;

  --app-light-steel-1: #F8F9FA;
  --app-light-steel-2: #E9ECEF;
  --app-light-steel-3: #DEE2E6;
  --app-light-steel-4: #CED4DA;
  --app-light-steel-5: #ADB5BD;
  --app-light-steel-6: #6C757D;
  --app-light-steel-7: #495057;
  --app-light-steel-8: #343A40;
  --app-light-steel-9: #212529;


  // Spacing scale
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;

  --app-max-width: 580px;


}

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
.capras {
  font-family: 'Caprasimo', Georgia, serif;
}
.app-max-width {
    max-width: var(--app-max-width);
}

.page-heading {
    padding-top: var(--space-lg);
}